
.left_nav{
    background-color: black
}
.left_nav_element:hover{
    margin-left: 40px;
    background-color: #505253;
    border-radius: 15px;
    text-align: center;
    border: solid orange 1px;
    
}
.left_nav_element{
    text-align: left;
    margin-left: 30px;
    padding: 8px;
    color: white;
}
.section_1{
    border: solid black 1px;
}
.section_2{
    border: solid black 1px;
   
}
.inputField{
    margin-top: 190px;
    margin-left: 45px;
}
button{
    background-color: green;
    border-radius: 6px;
    margin-left: 15px;
}
.result{
    margin-top: 150px;
    margin-left: 40px;
}
.dropdown{
    margin-top: 20px;
}





