div{
    margin-top: 20px;
    text-align: right;
    margin: 40px 670px auto auto;
   
   
}
.btn{
    margin-left: 30px;
    color: green;
}
h2{
    text-align: center;
}
.error{
    color: red;
    
    text-align: right;
    margin: 10px 670px auto auto;
}