<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>header</title>
</head>
<body>
    <div class="row">
        <div class="col-1 header_element">Home</div>
        <div class="col-1 header_element"></div>
        <div class="col-2 header_element"></div>
        <div class="col-2 header_element">convertion type</div>
        <div class="col-2 header_element">
            <select class="dropdown" name="" id="drop" value="" (change)="selectChange($event)">
            
                <option value="" selected>Select currency</option>
                <option value="US_Dollars">US Dollars</option>
                <option value="Euro">Euro</option>
                <option value="British_Pound">British Pound</option>
                <option value="Australian_Dollars">Australian Dollars</option>
                <option value="UAE_Dirham">UAE Dirham</option>
    
            </select>
            
        </div>

        <div class="col-3 header_element">Welcome : {{selectedValue}}</div>


        

    </div>
    
</body>
</html>
